[submodule "spack"]
	path = spack
	url = https://github.com/spack/spack.git
	shallow = true
[submodule "repos/access-nri"]
	path = repos/access-nri
	url = https://github.com/ACCESS-NRI/spack-packages.git
[submodule "repos/cosima"]
	path = repos/cosima
	url = git@github.com:COSIMA/spack_packages.git
